@font-face {
  font-family: ogg;
  src: url(../../utils/Fonts/Ogg-Roman.otf) format("opentype");
}

@font-face {
  font-family: apercu-mono;
  src: url(../../utils/Fonts/ApercuMono.ttf) format("truetype");
}

.main {
  width: 95vw;
  margin: 1rem auto;
  padding: 1rem;
  text-align: left;
  border: 5px dashed blueviolet
}

.mainHeading {
    margin: 1rem auto;
  padding: 1rem;
  }

/* THINGS I MADE */
.mainHeading h3 {
  font-family: ogg, sans-serif;
  font-size: 3rem;
  width: 100%;
  font-weight: 100;
  line-height: 0px;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}

.mainHeading > div {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-gap: 60px 60px;
  width: 95vw;
  margin: 60px auto;
}

.projectCard {
  padding: 55px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: 0.4s infinite normal a;
  animation-timing-function: linear;
  animation-play-state: paused;
  position: relative;
}

.projectCard:hover {
  animation-play-state: running;
}

@keyframes a {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }

  100% {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
  }
}


/* THINGS I KNOW */
.tech h3 {
  font-family: ogg, sans-serif;
  font-size: 3rem;
  line-height: 0px;
  text-align: center;
  font-weight: 100;
  margin: 1rem auto;
  padding: 1rem;
}

.headingHr {
  position: relative;
  padding: 75px 0 100px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
  background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
  animation: 0.8s infinite normal c;
  animation-timing-function: linear;
}

c {
  animation-play-state: running;
}

@keyframes c {
  0% {
    background-position-x: 0, 0;
  }
  100% {
    background-position-x: 24px, -24px;
  }
}
