@font-face {
  font-family: ogg;
  src: url(../../utils/Fonts/Ogg-Roman.otf) format("opentype");
}

.header {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
}


.headerText {
  width: auto;
  font-family: ogg, sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
