@font-face {
  font-family: ogg;
  src: url(../../utils/Fonts/Ogg-Roman.otf) format("opentype");
}

.header {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 5px dashed red;
  padding: 1rem;
  margin: 1rem auto;
}

.headerNycMap {
  width: 45vw;
}

.nycMap {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.headerText {
  width: 45vw;

  border: 1px solid blue;
}

.headerText p {
  font-family: ogg, sans-serif;
  font-weight: 400;
}

.headerText img {
  width: auto;
  height: 50%;
  border-radius: 10px;
}
