@font-face {
    font-family: ogg;
    src: url(./Footer/Ogg-Roman.otf) format("opentype");
}

@font-face {
    font-family: apercu-mono;
    src: url(./Footer/ApercuMono.ttf) format("truetype");
}

.footer__row {
    background-image: repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px);
    padding: 7px;
    width: 95vw;
    margin: auto;
}

.interested {
    font-family: ogg,sans-serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 30px;
}

.interested p {
    line-height: 0px;
}

.interested a {
    font-family: apercu-mono, sans-serif;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    font-size: 16px;
    padding: 15px;
    border: 1px solid #000;
    width: 100%;
    max-width: 180px;
    display: inline-block;
    margin: 14px auto;
    transition: background .6s cubic-bezier(.23,1,.32,1),color .6s cubic-bezier(.23,1,.32,1);
}

.interested a:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.social {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 60px 60px;
    width: 95vw;
    margin: 60px auto;
    font-family: apercu-mono, sans-serif;
}

.socialBox {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.socialBoxItem {
    padding: 55px;
    background-image: linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(90deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0),linear-gradient(180deg,#000 50%,transparent 0);
    background-position: 0 0,0 100%,0 0,100% 0;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
    background-size: 30px 1px,30px 1px,1px 30px,1px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: .4s infinite normal a;
    animation-timing-function: linear;
    animation-play-state: paused;
    position: relative;
}

.socialBoxItem:hover {
    animation-play-state: running;
}

@keyframes a {
    0% {
        background-position: 0 0,0 100%,0 0,100% 0;
    }
    
    100% {
        background-position: 30px 0,-30px 100%,0 -30px,100% 30px;
    }
}

.inspiration {
    margin: 0 0 10px 80vw;
    text-decoration: none;
    color: black;
}